{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %} 

<div class="page-header" align="center">
  <h1>About</h1>
</div>

<div class="page-content">
	Follow Your Leaders is part of a larger <a href="http://casmlab.org/projects/publicofficials/">research project about politicians and social media</a> from the <a href="http://www.casmlab.org">Collaboration and Social Media Lab</a> at the <a href="http://www.iit.edu">Illinois Institute of Technology</a>. The goal of the website is to allow users to explore data from Twitter and other sources to see how politicians use social media. You can read more about our research at the <a href="http://www.casmlab.org">CaSM Lab website</a>.

	<!--
	><h2 id="system_architecture">System Architecture</h2>
	[need Yazan to describe collector]
	[devs a blurb about how the website works]
	-->

	<h2 id="principal_investigators">Principal Investigators</h2>
	<ul>
		<li><a href="http://www.libbyh.com">Libby Hemphill</a></li>
		<li><a href="http://lincs.hum.iit.edu/?q=content/jahna-otterbacher">Jahna Otterbacher</a></li>
		<li>Matthew A. Shapiro</li>
	</ul>

	<h2 id="web_design_and_development">Web Design and Development</h2>
	<ul>
		<li>Eyoel Asfaw</li>
		<li>Subhi Beidas</li>
		<li>Yazan Hussein</li>
		<li>Ruth Zinsmeister</li>
	</ul>
<div>
{% endblock %}