{% extends "base.html" %}
{% block title %} FAQ {% endblock %}

{% block content %}

<br>
<br>

FAQ Page
FAQ Page
Don't see the answer to your question? Click <a href="#faq_form" data-toggle="modal"> here </a> to send your question to us.
<br>
<br>
<p>
	Question 1
	<br>
	Question 2
	<br>
	Question 3
	<br>
</p>

<div class="modal hide fade" id="faq_form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: cancel">&times;</button>
        <h3>What's your Question</h3>
    </div>
    <div class="modal-body">
        <form action="#" data-bind="submit: add">
			<label class="control-label" >Name*:</label>
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <label class="control-label" >Email*:</label>
            <input type="text" placeholder="placeholder" class="input-xlarge">
            <div class="control-group">
                <label class="control-label">Questions*:</label>
                <div class="controls">
                    <textarea data-bind="value: text"></textarea>
                </div>
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-bind="click: add">Add Note</a>
        <a href="#" class="btn" data-dismiss="modal" data-bind="click: cancel">Cancel</a>
    </div>
</div>

{% endblock %}
