{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<div style="color: #333333; margin-bottom:5%;" class="container-fluid " id="homepage_header">
	<h1> Follow Your Leaders</h1>

	<!-- <div style="float: left;" class="container-fluid ">
	<canvas  id="arrow"></canvas>
	</div> -->
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div style=" color: #FF9900; ">
				<div class="span6 offset4" id="main_menu_options" style="margin-top: 15%;">
					<a style="color: #FF9900"href="/us-congress" ><label  style="font-size: 24px;">US Congress</label></a>
					<a style="color: #FF9900"href="/" ><label style="font-size: 24px;">Korean National Assembly</label></a>
					<a style="color: #FF9900"href="/" ><label style="font-size: 24px;">EU Parliament</label></a>
				</div>
			</div>
		</div>
		<div class="span3" style="border: 1px solid #ccc;
				color: #FF9900;
				background-color: #FFCC9F;">
			<h4>Recent Updates</h4>

			{% for r in row %}
			<div align="center">
				{{r}}
			</div>
			{% endfor %}
		</div>

	</div>
</div>

{% endblock %}