{% extends "base.html" %}

{% block title %} US Congress Trends {% endblock %}

{% block links %}
<link href="{{MEDIA_ROOT}}media/css/trends.css" rel="stylesheet">
<script src="{{MEDIA_ROOT}}media/js/political-map.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
	var tweetData ={{trendsArray|safe}};
	var trendValue = "{{trendValue}}";
</script>
<script src="{{MEDIA_ROOT}}media/js/trends.js" type="text/javascript"></script>
{% endblock %}
{% block javascript %}

{% endblock %}
{% block navbar_title %} US Congress {% endblock %}
{% block content %}

<div class="page-header" align="center" id="political-maps">
	<h1>Trends</h1>
</div>
<div class="container-fluid" id="trends_intro" style="text-align: center;">
	<p id="intro_to_trends">
		Wonder what the politicians are talking about? Do they spend more time talking about Bieber than tax law? Search any topic and time to see what drew the tweets from the representatives.
	</p>
</div>
<div style="alignment-adjust: center;">
	<form action="">
		<p id="formlabel">Phrase Search        </span><input name="trend" type="text" placeholder="ex golf, voting, gun control">
		<button type="submit" class="btn btn-warning" id="search_button">
			Search
		</button></p>
	</form>
</div>
<hr>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4" id="trend_recommendations">
			<div class="row-fluid">
				<h3>Recommended Topics</h3>
				<br>
				{% for r in recommended %}
				<span></spand><a href="{% url fyl_try2.views.us_congress_trends %}?trend={{r}}">{{r}}</a></span>
				<br>
				{% endfor %}
				<br>
			</div>
			<div class="row-fluid">
				<h3>Recent Searches</h3>
				<br>
				{% for r in recent %}
				<span></spand><a href="{% url fyl_try2.views.us_congress_trends %}?trend={{r}}">{{r}}</a></span>
				<br>
				{% endfor %}
				<br>
			</div>
		</div>
			<div class="span8">
				<div id="trends-canvas" style="min-height: 500px; width: 100%; margin: 0 auto"></div>
			</div>

	</div>
</div>

{% endblock %}