pre {
	font-family: Monaco, "Courier New";
	font-size: 12px;
	line-height: 1.6;
	background:       #FDFAF8;
	color:            #222;
	padding:          15px;
	border: 1px solid #DBD1B3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
h3 {
	color:#FF7E33;
	
}
#map-canvas {
    width: 500px;
    height: 400px;
    background-color: #CCC;
 }
#map-canvas img, .google-maps img {
	max-width: none;
}

#tweetbox{
	height: 240px;
    overflow: auto;
    border-radius: 5px;
    background: #444;
	padding: 1px 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#public-maps{
	border-left: 2px #FFCC9F solid; height: 50%; margin-left: 25%;
	font-size: 15px;
}
#centerdiv{
	font-size: 15px;
}
hr {
	border:           0;
	width:            80%;
	border-bottom:    1px solid #aaa
}

.tweets {
	background: #444;
	padding: 1px 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.tweets .loading {
	padding: 10px 20px;
	color: #ccc;
}

.tweet {
	font-size: 13px;
	background: #fff;
	margin: 4px 0;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tweet img {
	float: left;
}
.tweet .text {
	margin: 0;
	margin-left: 44px;
}
.tweet .username {
	display: block;
}
.tweet .username a {
	font-weight: bold;
	text-decoration: none;
	color: #111;
}
.tweet .time a {
	font-size: 80%;
	color: #888;
	white-space: nowrap;
	text-decoration: none;
	padding-left: 8px;
}
