pre {
	font-family: Monaco, "Courier New";
	font-size: 12px;
	line-height: 1.6;
	background:       #FDFAF8;
	color:            #222;
	padding:          15px;
	border: 1px solid #DBD1B3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
h3 {
	color:#FF7E33;
	
}

#public-maps{
	border-left: 2px #FFCC9F solid; height: 50%; margin-left: 25%;
	font-size: 15px;
}

#centerdiv{
	font-size: 15px;
}
hr {
	border:           0;
	width:            80%;
	border-bottom:    1px solid #aaa
}

